.vertical-container 
{   display: flex;
    flex-direction: column;}
.centered-form 
{   padding: 15px;
    margin-left: 80px;
}  
.heading{
    background-color: rgb(70, 133, 201);
    padding: 3%;
    border-radius: 9px;
}
button{
    margin-top: 2px;
    margin-left: 2px;
    background-color: aqua;
    padding: 1%;
    cursor: pointer;
    border-radius: 20px;
}
h1{
    background-color: rgb(70, 133, 201);
    padding: 3%;
    border-radius: 40px;
}
body{
    background-image: url("/views/images/Background6.gif");
    background-size: 1800px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover{
    opacity: 0.4;
}   
input {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px; 
}
input:focus{
    border-color: #333; 
}
.submit-button{
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}
.submit-button:hover{
    background: #828080;
}
.submit-button:focus {
    background: #8d7979;
}
.form-result {
    visibility: hidden;
    position: absolute;
    margin-top: 5%;
    margin-left: 10%;
} 