<!DOCTYPE html>
<html>
<link rel="stylesheet" href="styles/style.css"> <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico"> 
    <title>Bataille navale</title>
</head>
<body class="body">
<div id="menu">
    <header class="heading">
        <center>
            <button class="btn" onclick="window.location.href='home.html'" disabled><b>Acceuil</b></button>
            <button onclick="window.location.href='create_game.html'"><b>Créer une partie</b></button>
            <button onclick="window.location.href='join_game.html'"><b>Rejoindre une partie</b></button>
            <button onclick="window.location.href='manage_fleet.html'"><b>Créer votre flotte</b></button>
            <button onclick="window.location.href='play_game.html'"><b>Jouer</b></button>
    
        </center>
    </header>
</div>
<div class="centered-element">
    <center>
        <h1>Bataille Navale</h1>
        <div>
            Bienvenue dans le jeu de bataille navale<br>
            Le jeu nécessite 2 joueurs pour commencer<br>
            amusez-vous
        </div>
        <br><br><br><br><br><br><br>
        <img src="images/logo.png">
        
    </center>
</body>
</html>