
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="styles/style.css"> <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico"> 
    <title>Bataille navale</title>
</head>
<header class="heading">
    <center>
        <button onclick="window.location.href='home.html'"><b>Acceuil</b></button>
        <button onclick="window.location.href='create_game.html'"><b>Créer une partie</b></button>
        <button onclick="window.location.href='join_game.html'" ><b>Rejoindre une partie</b></button>
        <button class="btn" onclick="window.location.href='manage_fleet.html'" disabled><b>Créer votre flotte</b></button>
        <button onclick="window.location.href='play_game.html'"><b>Jouer</b></button>

    </center>
</header>
<body class="body1">
    <center>
        <table>
    
            <caption></caption>
                
        <tr> <td><div class="vertical-container">
            <div class="form-result" id="create-game-result"></div>
            <div class="centered-form">
                <form id="create-game-form">
                    <label for="player-name">Ton pseudo:</label><br>
                    <input type="text" id="player-name" name="player_name" required><br><br>
                    <label for="game_id">Identifiant de la partie:</label><br>
                    <input type="text" id="game-id" name="game_id" required><br><br>
                    <input class="submit-button" type="submit" value="Charger ma flottr">
                    
                    <h5>Choisir le type de vaisseau</h5>
                    <select class="custom-select" id="type" name="type">
                        <option selected>--Choisir le type--</option>
                        <option value="Aircraft">Aircraft</option>
                        <option value="Cruiser">Cruiser</option>
                        <option value="Frigate">Frigate</option>
                        <option value="Submarine">Submarine</option>
                        <option value="Destroyer >">Destroyer</option>
                    </select><br><br>
                    <label for="x">X :</label><br>
                    <input type="number" id="min-x" name="min_x" required value="0"><br>
                    <label for="y">Y :</label><br>
                    <input type="number" id="max-y" name="max_y" required value="40"><br>
                    <label for="z">Z :</label><br>
                    <input type="number" id="min-y" name="min_y" required value="0"><br><br> 
                    <input class="submit-button" type="submit" value="Valider"> 
                </form>
            </div>
        </div></td> 
        <td></td><td></td><td></td><td></td><td></td>
        <td></td>
        <td><table>
    
        <tr> <th>Vessel</th> <th>Coordonnées</th> <th>Résistance</th> <th>Arme</th> <th>Munitions</th> <th>Rayon d'action</th> </tr> 
        <tr><td><input class="submit-button" type="submit" value="Valider" onclick="window.location.href='play_game.html'"></td> </tr>        
        </table>
        </td> </tr>
        
        
        </table>
    </center>  
</body>
</html>